<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-position">
  <div class="container container-custom">
    <a class="navbar-brand" href="#">
      <img src="assets/UEPB_B.png" alt="" height="50">
    </a>

    <div *ngIf="user" class="action">
      <div class="profile" (click)="toggleDropdown()">
        <img [src]="photoURL" height="50" referrerpolicy="no-referrer" />
      </div>
      <div class="menu" *ngIf="displayDropdown">
        <h3>{{user.displayName}}<br /><span></span></h3>
        <ul>
          <li>
            <img src="./assets/icons/user.png" /><a [routerLinkActive]="['active', 'nav-active']" routerLink="/me">Minha conta</a>
          </li>
          <li>
            <img src="./assets/icons/edit.png" /><a [routerLinkActive]="['active', 'nav-active']" routerLink="/edit">Editar conta</a>
          </li>
          <li (click)="logout()">
            <img src="./assets/icons/log-out.png" /><a href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>

<nav class="navbar navbar-expand-lg">
  <div class="container container-custom">
    <a class="navbar-brand" href="#">
      <img style="opacity: 0;" src="assets/UEPB_B.png" alt="" height="50">
    </a>

    <div *ngIf="user" class="action">
      <div class="profile">
        <img style="opacity: 0;" src="assets/user_default.jpg" height="50" />
      </div>
    </div>

  </div>
</nav>
