<app-login *ngIf="displayLogin"></app-login>

<!-- <div class="container-fluid">
  <div class="row">

    <div class="col-12 col-xl-8">
      <div class="grid-text-col-1">
        <p>QUER ENTRAR PRA UM DE NOSSOS TIMES?<br>
          SE CADASTRA NO NOSSO BANCO DE TALENTOS!
        </p>
      </div>
    </div>

    <div class="col-12 col-xl-4">
      <div class="grid-button-col-2">
        <button type="button" class="btn btn-light login-button" (click)="displayLogin=true">ENTRAR / CADASTRAR</button>
      </div>
    </div>

  </div>
</div> -->
<div class="temporary-home-container">
  <div>
    <img src="assets/UEPB.png" />
  </div>
</div>
