<div class="background-login"></div>
<div class="login-container m-auto p-5">
  <div class="container">
    <div class="logo"><img width="100px" src="assets/UEPB.png"></div>

    <form>
      <div class="inputs-div mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="inputs-div mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <div class="check-div mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Estou de acordo em compartilhar minhas informações com a UEPB Gaming e aceito receber futuros contatos da equipe.</label>
      </div>
      <div class="buttons-container d-grid gap-3">
        <button type="button" class="btn btn-light buttons" (click)="loginWithEmailAndPassword()">Entrar</button>
        <button type="button" class="btn btn-light buttons" (click)="loginWithGoogleAuth()">
          <img height="30px" src="assets/google.png" /> Entrar com o Google
        </button>
      </div>
    </form>
  </div>
</div>
